body {
    background-color:goldenrod;
}

a {
    text-decoration: none;
    color:inherit;
}

.grow { 
    transition: all .7s ease-in-out; 
    }
    
.grow:hover { 
    transform: scale(1.3); 
    text-shadow: 4px 4px 4px black;
}

.webpage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover {
    background-image: url('assets/magCover.PNG');
    background-size: cover;
    width: 500px;
    height: 600px;
    margin: 100px;
    margin-top: 50px;
    box-shadow: 2px 2px 6px 6px black;
}
.empty {
    height:180px;
}

.coverText {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2px;
    padding-left: 15px;
    width: 200px;
}

.whoIs {
    font-family: 'Buenard', serif;
    font-size: 15px;
}
.firstName {
    margin-top: -30px;
    margin-bottom: -30px;
    font-size: 45px;
}
h1 {
    margin-top: -18px;
    font-family: 'Shrikhand', serif;
    color: gold;
    font-size: 34px;
    text-wrap: wrap;

}

h3 {
    font-family: 'Faster One', system-ui;
    color: #2b78e4;
    font-style: italic;
    text-shadow: 4px 4px 4px black;
    font-size: 25px;
}

.sneakPeak {
    margin-top: -35px;
    font-family: 'Shrikhand', serif;
    line-height: 12px;
}

.motivation {
    margin-top: -15px;
}

.motText {
    margin-top: -27px;
    font-family: 'Buenard', serif;
    font-style: italic;
    width: 300px;
    text-shadow: 2px 2px 2px black;
}


.exclusive{
    font-family: 'Shrikhand', serif;
    font-style: italic;
    width: 300px;
}
h2 {
    margin-top: -25px;
    font-family: 'Shrikhand', serif;
    font-size: 35px;
    color: gold;
}